* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner {
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-conteiner {
    box-sizing: border-box;
    border-radius: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: white;
    opacity: 0.7;
    box-shadow: 10px 10px 10px 0 gray;
}
.card-conteiner h1 {
    position: relative;
    top: 20px;
    font-size: 40px;

}
.country-name {
    position: relative;
    bottom: 50px;
}
.main-conteiner {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.section-conteiner {
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list-conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 18px;
}
.item1 {
    
    position: relative;
    left: 5px;
    font-weight: bold;
}
.item2 {
    position: relative;
    left: 40px;
    font-weight: bold;
}
.item3 {
    position: relative;
    left: 30px;
    font-weight: bold;
}
.temperature {
    font-size: 50px;
}
.btn {
    position: relative;
    bottom: 50px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: grey;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0 black;
}
.btn:hover {
    transform: scale(1.1);
}
